@charset "utf-8";
body{
    background-image: url(../img/bg.jpg);
    background-size: contain;
}

p,a,span,h2{
    color: #333333;
    @media screen and (max-width: 768px) {
    }
}

img{
    width: 100%;
}

img.lg-image{
    max-width: 90%!important;
    @media screen and (min-width: 769px) {
        max-width: 850px!important;
    }
}

#lg-download{
    display: none;
}
#lg-counter span{
    color: #fff;
}

a{
    transition: all 0.5s;
    &:hover{
        opacity: 0.5;
    }
}

.fadeIn{
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 1.5s;
}

.fadeNow {
    opacity: 1;
    transform: translate(0, 0);
}

#google_translate_element img{
    width: auto;
}

#modal img{
    width: auto;
}





.mainWrap{
    max-width: 1040px;
    padding: 0 15px;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
        padding: 0;
    }
}

.news{
    padding: 120px 0 80px;
    @media screen and (max-width: 768px) {
        padding: 16vw 6.66vw 5vw;
    }
    dl{
        display: flex;
        border-bottom: 1px solid #aaa;
    }
    dt{
        font-family: "游明朝体", "Yu Mincho", "yumin", YuMincho, serif;
        font-size: 20px;
        padding: 5px 30px;
        @media screen and (max-width: 768px) {
            font-size: 3.5vw;
            padding: 2vw 3vw;
        }
    }
    dd{
        a{
            font-family: "游明朝体", "Yu Mincho", "yumin", YuMincho, serif;
            font-size: 20px;
            padding: 5px 30px;
            display: block;
            @media screen and (max-width: 768px) {
                font-size: 3.5vw;
                padding: 2vw 3vw;
            }
        }
    }
}

.topSnsWrap{
    background-color: #fff;
    ul{
        padding: 23px 0;
        display: flex;
        justify-content: right;
        @media screen and (max-width: 768px) {
            justify-content: center;
            padding: 3.33vw 0;
        }
        li{
            width: 32px;
            margin-right: 15px;
            @media screen and (max-width: 768px) {
                width: 8.8vw;
                margin-right: 3.2vw;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
}

.topContents{
    .mainWrap{
        @media screen and (max-width: 768px) {
            padding: 0 12.5vw;
        }
    }
    padding: 120px 0 200px;
    @media screen and (max-width: 768px) {
        padding: 16vw 0 26.66vw;
    }
    &__top{
        max-width: 713px;
        margin: 0 auto 114px;
        @media screen and (max-width: 768px) {
            // max-width: 54.26vw;
            margin: 0 0 13.33vw;
        }
        p , span{
            font-family: "游明朝体", "Yu Mincho", "yumin", YuMincho, serif;
            font-weight: bold;
            font-size: 30px;
            font-style: italic;
            line-height: 4rem;
            @media screen and (max-width: 768px) {
                font-size: 4.2vw;
                line-height: 2em;
            }
            span.top{
                margin-left: 60px;
                @media screen and (max-width: 768px) {
                    margin-left: 0px;
                }
            }
        }
    }
    &__bottom{
        max-width: 761px;
        margin: 0 auto;
        p , span{
            font-family: "游明朝体", "Yu Mincho", "yumin", YuMincho, serif;
            font-weight: bold;
            font-size: 30px;
            font-style: italic;
            line-height: 4rem;
            @media screen and (max-width: 768px) {
                font-size: 4.2vw;
                line-height: 2em;
            }
        }
        span.middle{
            margin-left: 120px;
            @media screen and (max-width: 768px) {
                margin-left: 0px;
            }
        }
        span.bottom{
            margin-left: 190px;
            @media screen and (max-width: 768px) {
                margin-left: 0px;
            }
        }
        span.pink{
            color: #fdadc8;
        }
    }
}

.mc{
    padding-bottom: 200px;
    padding: 0;
    .mainWrap{
        padding-bottom: 200px;
        @media screen and (max-width: 768px) {
            padding: 0 6.66vw 16vw;
        }
    }
    &__title{
        width: 101px;
        margin: 0 auto 154px;
        @media screen and (max-width: 768px) {
            width: 13.46vw;
            margin: 0 auto 9.86vw;
        }
    }
    &__contentWrap{
        display: flex;
    }
    &__imageWrap{
        width: 416px;
        height: 280px;
        margin-right: 43px;
        background-image: url(../img/mc_mihiro.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @media screen and (max-width: 768px) {
            width: 37.33vw;
            height: 37.33vw;
            margin-right: 4vw;
        }
    }
    &__textWrap{
        @media screen and (max-width: 768px) {
            width: 46.66vw;
        }
        p,li,span,a{
        font-family: "游明朝体", "Yu Mincho", "yumin", YuMincho, serif;
        font-weight: bold;
        font-size: 29px;
        font-style: italic;
        word-break: break-all;
            @media screen and (max-width: 768px) {
                font-size: 3.5vw;
            }
        }
    }
    &__snsWrap{
        @media screen and (max-width: 768px) {
            margin: 1vw 0;
        }
        ul{
            display: flex;
            li{
                display: flex;
                &.icon{
                    a{
                        display: flex;
                        align-items: center;
                    }
                }
                img{
                    width: 25px;
                    margin-left: 10px;
                    @media screen and (max-width: 768px) {
                        width: 6.66vw;
                        margin-left: 0px;
                        margin-right: 2.26vw;
                    }
                }
            }
        }
    }
}



.cast{
    padding-bottom: 200px;
    @media screen and (max-width: 768px) {
        padding: 0;
    }
    .mainWrap{
        @media screen and (max-width: 768px) {
            padding: 0 6.66vw 16vw;
        }
    }
    &__title{
        width: 160px;
        margin: 0 auto 154px;
        @media screen and (max-width: 768px) {
            width: 21.33vw;
            margin: 0 auto 9.86vw;
        }
    }
    &__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media screen and (max-width: 768px) {
            display: block;
        }
    }
    &__contentWrap{
        max-width: 416px;
        width: 36%;
        margin: 0px 6% 80px;
        @media screen and (max-width: 768px) {
            max-width: 100%;
            display: flex;
            width: 100%;
            margin: 0 auto 8vw;
        }
    }
    &__imageWrap{
        max-width: 416px;
        width: 100%;
        height: 280px;
        background-size: cover;
        background-position: center;
        margin-bottom: 23px;
        background-repeat: no-repeat;
        @media screen and (max-width: 768px) {
            width: 37.33vw;
            height: 37.33vw;
            margin-right: 4vw;
        }
    }
    &__textWrap{
        @media screen and (max-width: 768px) {
            width: 46.66vw;
        }
        p,li,span,a{
        font-family: "游明朝体", "Yu Mincho", "yumin", YuMincho, serif;
        font-weight: bold;
        font-size: 29px;
        font-style: italic;
        word-break: break-all;
            @media screen and (max-width: 768px) {
                font-size: 3.5vw;
            }
        }
        span{
            font-size: 20px;
            @media screen and (max-width: 768px) {
                font-size: 3vw;
            }
        }
    }
    &__snsWrap{
        @media screen and (max-width: 768px) {
            margin: 1vw 0;
        }
        ul{
            display: flex;
            li{
                display: flex;
                &.icon{
                    a{
                        display: flex;
                        align-items: center;
                    }
                }
                img{
                    width: 25px;
                    margin-left: 10px;
                    @media screen and (max-width: 768px) {
                        width: 6.66vw;
                        margin-left: 0px;
                        margin-right: 2.26vw;
                    }
                }
            }
        }
    }

    #cast_wada{
        background-image: url(../img/cast_wada.jpg);
        background-position: center top;
    }
    #cast_aki{
        background-image: url(../img/cast_aki.jpg);
    }

}



.youtube{
    background-color: #fff;
    padding: 96px 0 50px;
    @media screen and (max-width: 768px) {
        padding: 6.66vw 0;
    }
    .mainWrap{
        @media screen and (max-width: 768px) {
            padding: 0 12.53vw;
        }
    }
    &__title{
        width: 212px;
        margin: 0 auto 97px;
        @media screen and (max-width: 768px) {
            width: 33vw;
            margin: 0 auto 9.86vw;
        }
    }
    &__contentWrap{
        position: relative;
        padding-top: 56.25%;
        margin-bottom: 35px;
        background-color: #fdadc8;
        border-radius: 10px;
        border: 4px solid #ff85ae;
        @media screen and (max-width: 768px) {
            margin-bottom: 5.33vw;
            border-radius: 0px;
            border: none;
        }
        iframe {
            position: absolute;
            width: 98%;
            height: 97%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        }
    }
    &__icon{
        // position: absolute;
        // top: 0;
        // z-index: 1;
        // width: 100%;
        // height: 100%;
        img{
            position: absolute;
            width: 100px;
            z-index: 1;
            @media screen and (max-width: 768px) {
                width: 12vw;
            }
        }
        .left{
            top: -51px;
            left: -48px;
            @media screen and (max-width: 768px) {
                top: -7vw;
                left: -6vw;
            }
        }
        .right{
            top: -41px;
            right: -43px;
            @media screen and (max-width: 768px) {
                top: -7vw;
                right: -6vw;
            }
        }
        .left_b{
            bottom: -57px;
            left: -50px;
            @media screen and (max-width: 768px) {
                bottom: -6vw;
                left: -7vw;
            }
        }
        .right_b{
            right: -54px;
            bottom: -36px;
            @media screen and (max-width: 768px) {
                bottom: -6vw;
                right: -7vw;
            }
        }
    }
    &__text{
        p.title{
            font-family: "游明朝体", "Yu Mincho", "yumin", YuMincho, serif;
            font-size: 30px;
            text-align: center;
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            @media screen and (max-width: 768px) {
                text-align: left;
                font-size: 3.93vw;
            }
        }
        p.date{
            font-family: "游明朝体", "Yu Mincho", "yumin", YuMincho, serif;
            font-size: 24px;
            color: #676767;
            text-align: center;
            @media screen and (max-width: 768px) {
                text-align: left;
                font-size: 3vw;
            }
        }
    }
}


.note{
    padding: 180px 0 200px;
    @media screen and (max-width: 768px) {
        padding: 10.66vw 0 11.33vw;
    }
    .mainWrap{
        @media screen and (max-width: 768px) {
            padding: 0 6.66vw;
        }
    }
    &__title{
        width: 127px;
        margin: 0 auto 97px;
        @media screen and (max-width: 768px) {
            width: 21.33vw;
            margin: 0 auto 9.86vw;
        }
    }
    &__contentWrap{
        iframe{
            width: 698px!important;
            margin: 0 auto;
            display: block;
            overflow: hidden;
            height: 197px;
            @media screen and (max-width: 768px) {
                width: 100%!important;
            }
            @media screen and (max-width: 553px) {
                // height: 190px;
                overflow-x: scroll;
                -ms-overflow-style: none;    /* IE, Edge 対応 */
                scrollbar-width: none;       /* Firefox 対応 */
            }
            ::-webkit-scrollbar {  /* Chrome, Safari 対応 */
                display:none;
            }
        }
    }
}

#frame div{
    background-color: red;

}


.bottomSns{
    ul{
        display: flex;
        justify-content: center;
        margin-bottom: 200px;
        @media screen and (max-width: 768px) {
            margin-bottom: 18.66vw;
        }
        li{
            width: 115px;
            @media screen and (max-width: 768px) {
                width: 10vw;
            }
            &:nth-child(2){
                margin: 0 120px;
                @media screen and (max-width: 768px) {
                    margin: 0 3.2vw;
                }
            }
        }
    }
}




.mail{
    margin-bottom: 200px;
    @media screen and (max-width: 768px) {
        margin-bottom: 16vw;
    }
    .mainWrap{
        @media screen and (max-width: 768px) {
            padding: 0 12.53vw;
        }
    }
    &__contentWrap{
        padding: 150px 183px;
        background-color: #fff;
        border: 1px solid #000;
        @media screen and (max-width: 768px) {
            padding: 10.66vw 0 11.33vw;
        }
    }
    &__title{
        width: 117px;
        margin: 0 auto 80px;
        @media screen and (max-width: 768px) {
            width: 16.4vw;
            margin: 0 auto 8vw;
        }
    }
    p , a{
        font-family: "游明朝体", "Yu Mincho", "yumin", YuMincho, serif;
        display: block;
        font-size: 22px;
        text-align: center;
        @media screen and (max-width: 768px) {
            font-size: 3.93vw;
        }
    }
}


.footer{
    background-color: #fff;
    border-top: 1px solid #000;
    padding: 50px 0 40px;
    @media screen and (max-width: 768px) {
        padding: 6.4vw 0 6vw;
    }
    p{
        font-family: "游明朝体", "Yu Mincho", "yumin", YuMincho, serif;
        text-align: center;
        font-size: 18px;
        @media screen and (max-width: 768px) {
            font-size: 3vw;
        }
    }
}

.spOnly{
    @media screen and (min-width: 769px) {
        display: none!important;
    }
}
.pcOnly{
    @media screen and (max-width: 768px) {
        display: none!important;
    }
}