@charset "UTF-8";
body {
  background-image: url(../img/bg.jpg);
  background-size: contain;
}

p, a, span, h2 {
  color: #333333;
}

img {
  width: 100%;
}

img.lg-image {
  max-width: 90% !important;
}

@media screen and (min-width: 769px) {
  img.lg-image {
    max-width: 850px !important;
  }
}

#lg-download {
  display: none;
}

#lg-counter span {
  color: #fff;
}

a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

a:hover {
  opacity: 0.5;
}

.fadeIn {
  opacity: 0;
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.fadeNow {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#google_translate_element img {
  width: auto;
}

#modal img {
  width: auto;
}

.mainWrap {
  max-width: 1040px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .mainWrap {
    padding: 0;
  }
}

.news {
  padding: 120px 0 80px;
}

@media screen and (max-width: 768px) {
  .news {
    padding: 16vw 6.66vw 5vw;
  }
}

.news dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #aaa;
}

.news dt {
  font-family: "游明朝体", "Yu Mincho", "yumin", YuMincho, serif;
  font-size: 20px;
  padding: 5px 30px;
}

@media screen and (max-width: 768px) {
  .news dt {
    font-size: 3.5vw;
    padding: 2vw 3vw;
  }
}

.news dd a {
  font-family: "游明朝体", "Yu Mincho", "yumin", YuMincho, serif;
  font-size: 20px;
  padding: 5px 30px;
  display: block;
}

@media screen and (max-width: 768px) {
  .news dd a {
    font-size: 3.5vw;
    padding: 2vw 3vw;
  }
}

.topSnsWrap {
  background-color: #fff;
}

.topSnsWrap ul {
  padding: 23px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

@media screen and (max-width: 768px) {
  .topSnsWrap ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 3.33vw 0;
  }
}

.topSnsWrap ul li {
  width: 32px;
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  .topSnsWrap ul li {
    width: 8.8vw;
    margin-right: 3.2vw;
  }
}

.topSnsWrap ul li:last-child {
  margin-right: 0;
}

.topContents {
  padding: 120px 0 200px;
}

@media screen and (max-width: 768px) {
  .topContents .mainWrap {
    padding: 0 12.5vw;
  }
}

@media screen and (max-width: 768px) {
  .topContents {
    padding: 16vw 0 26.66vw;
  }
}

.topContents__top {
  max-width: 713px;
  margin: 0 auto 114px;
}

@media screen and (max-width: 768px) {
  .topContents__top {
    margin: 0 0 13.33vw;
  }
}

.topContents__top p, .topContents__top span {
  font-family: "游明朝体", "Yu Mincho", "yumin", YuMincho, serif;
  font-weight: bold;
  font-size: 30px;
  font-style: italic;
  line-height: 4rem;
}

@media screen and (max-width: 768px) {
  .topContents__top p, .topContents__top span {
    font-size: 4.2vw;
    line-height: 2em;
  }
}

.topContents__top p span.top, .topContents__top span span.top {
  margin-left: 60px;
}

@media screen and (max-width: 768px) {
  .topContents__top p span.top, .topContents__top span span.top {
    margin-left: 0px;
  }
}

.topContents__bottom {
  max-width: 761px;
  margin: 0 auto;
}

.topContents__bottom p, .topContents__bottom span {
  font-family: "游明朝体", "Yu Mincho", "yumin", YuMincho, serif;
  font-weight: bold;
  font-size: 30px;
  font-style: italic;
  line-height: 4rem;
}

@media screen and (max-width: 768px) {
  .topContents__bottom p, .topContents__bottom span {
    font-size: 4.2vw;
    line-height: 2em;
  }
}

.topContents__bottom span.middle {
  margin-left: 120px;
}

@media screen and (max-width: 768px) {
  .topContents__bottom span.middle {
    margin-left: 0px;
  }
}

.topContents__bottom span.bottom {
  margin-left: 190px;
}

@media screen and (max-width: 768px) {
  .topContents__bottom span.bottom {
    margin-left: 0px;
  }
}

.topContents__bottom span.pink {
  color: #fdadc8;
}

.mc {
  padding-bottom: 200px;
  padding: 0;
}

.mc .mainWrap {
  padding-bottom: 200px;
}

@media screen and (max-width: 768px) {
  .mc .mainWrap {
    padding: 0 6.66vw 16vw;
  }
}

.mc__title {
  width: 101px;
  margin: 0 auto 154px;
}

@media screen and (max-width: 768px) {
  .mc__title {
    width: 13.46vw;
    margin: 0 auto 9.86vw;
  }
}

.mc__contentWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mc__imageWrap {
  width: 416px;
  height: 280px;
  margin-right: 43px;
  background-image: url(../img/mc_mihiro.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .mc__imageWrap {
    width: 37.33vw;
    height: 37.33vw;
    margin-right: 4vw;
  }
}

@media screen and (max-width: 768px) {
  .mc__textWrap {
    width: 46.66vw;
  }
}

.mc__textWrap p, .mc__textWrap li, .mc__textWrap span, .mc__textWrap a {
  font-family: "游明朝体", "Yu Mincho", "yumin", YuMincho, serif;
  font-weight: bold;
  font-size: 29px;
  font-style: italic;
  word-break: break-all;
}

@media screen and (max-width: 768px) {
  .mc__textWrap p, .mc__textWrap li, .mc__textWrap span, .mc__textWrap a {
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 768px) {
  .mc__snsWrap {
    margin: 1vw 0;
  }
}

.mc__snsWrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mc__snsWrap ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mc__snsWrap ul li.icon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mc__snsWrap ul li img {
  width: 25px;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .mc__snsWrap ul li img {
    width: 6.66vw;
    margin-left: 0px;
    margin-right: 2.26vw;
  }
}

.cast {
  padding-bottom: 200px;
}

@media screen and (max-width: 768px) {
  .cast {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .cast .mainWrap {
    padding: 0 6.66vw 16vw;
  }
}

.cast__title {
  width: 160px;
  margin: 0 auto 154px;
}

@media screen and (max-width: 768px) {
  .cast__title {
    width: 21.33vw;
    margin: 0 auto 9.86vw;
  }
}

.cast__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .cast__content {
    display: block;
  }
}

.cast__contentWrap {
  max-width: 416px;
  width: 36%;
  margin: 0px 6% 80px;
}

@media screen and (max-width: 768px) {
  .cast__contentWrap {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0 auto 8vw;
  }
}

.cast__imageWrap {
  max-width: 416px;
  width: 100%;
  height: 280px;
  background-size: cover;
  background-position: center;
  margin-bottom: 23px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .cast__imageWrap {
    width: 37.33vw;
    height: 37.33vw;
    margin-right: 4vw;
  }
}

@media screen and (max-width: 768px) {
  .cast__textWrap {
    width: 46.66vw;
  }
}

.cast__textWrap p, .cast__textWrap li, .cast__textWrap span, .cast__textWrap a {
  font-family: "游明朝体", "Yu Mincho", "yumin", YuMincho, serif;
  font-weight: bold;
  font-size: 29px;
  font-style: italic;
  word-break: break-all;
}

@media screen and (max-width: 768px) {
  .cast__textWrap p, .cast__textWrap li, .cast__textWrap span, .cast__textWrap a {
    font-size: 3.5vw;
  }
}

.cast__textWrap span {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .cast__textWrap span {
    font-size: 3vw;
  }
}

@media screen and (max-width: 768px) {
  .cast__snsWrap {
    margin: 1vw 0;
  }
}

.cast__snsWrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cast__snsWrap ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cast__snsWrap ul li.icon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cast__snsWrap ul li img {
  width: 25px;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .cast__snsWrap ul li img {
    width: 6.66vw;
    margin-left: 0px;
    margin-right: 2.26vw;
  }
}

.cast #cast_wada {
  background-image: url(../img/cast_wada.jpg);
  background-position: center top;
}

.cast #cast_aki {
  background-image: url(../img/cast_aki.jpg);
}

.youtube {
  background-color: #fff;
  padding: 96px 0 50px;
}

@media screen and (max-width: 768px) {
  .youtube {
    padding: 6.66vw 0;
  }
}

@media screen and (max-width: 768px) {
  .youtube .mainWrap {
    padding: 0 12.53vw;
  }
}

.youtube__title {
  width: 212px;
  margin: 0 auto 97px;
}

@media screen and (max-width: 768px) {
  .youtube__title {
    width: 33vw;
    margin: 0 auto 9.86vw;
  }
}

.youtube__contentWrap {
  position: relative;
  padding-top: 56.25%;
  margin-bottom: 35px;
  background-color: #fdadc8;
  border-radius: 10px;
  border: 4px solid #ff85ae;
}

@media screen and (max-width: 768px) {
  .youtube__contentWrap {
    margin-bottom: 5.33vw;
    border-radius: 0px;
    border: none;
  }
}

.youtube__contentWrap iframe {
  position: absolute;
  width: 98%;
  height: 97%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.youtube__icon img {
  position: absolute;
  width: 100px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .youtube__icon img {
    width: 12vw;
  }
}

.youtube__icon .left {
  top: -51px;
  left: -48px;
}

@media screen and (max-width: 768px) {
  .youtube__icon .left {
    top: -7vw;
    left: -6vw;
  }
}

.youtube__icon .right {
  top: -41px;
  right: -43px;
}

@media screen and (max-width: 768px) {
  .youtube__icon .right {
    top: -7vw;
    right: -6vw;
  }
}

.youtube__icon .left_b {
  bottom: -57px;
  left: -50px;
}

@media screen and (max-width: 768px) {
  .youtube__icon .left_b {
    bottom: -6vw;
    left: -7vw;
  }
}

.youtube__icon .right_b {
  right: -54px;
  bottom: -36px;
}

@media screen and (max-width: 768px) {
  .youtube__icon .right_b {
    bottom: -6vw;
    right: -7vw;
  }
}

.youtube__text p.title {
  font-family: "游明朝体", "Yu Mincho", "yumin", YuMincho, serif;
  font-size: 30px;
  text-align: center;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 768px) {
  .youtube__text p.title {
    text-align: left;
    font-size: 3.93vw;
  }
}

.youtube__text p.date {
  font-family: "游明朝体", "Yu Mincho", "yumin", YuMincho, serif;
  font-size: 24px;
  color: #676767;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .youtube__text p.date {
    text-align: left;
    font-size: 3vw;
  }
}

.note {
  padding: 180px 0 200px;
}

@media screen and (max-width: 768px) {
  .note {
    padding: 10.66vw 0 11.33vw;
  }
}

@media screen and (max-width: 768px) {
  .note .mainWrap {
    padding: 0 6.66vw;
  }
}

.note__title {
  width: 127px;
  margin: 0 auto 97px;
}

@media screen and (max-width: 768px) {
  .note__title {
    width: 21.33vw;
    margin: 0 auto 9.86vw;
  }
}

.note__contentWrap iframe {
  width: 698px !important;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  height: 197px;
}

@media screen and (max-width: 768px) {
  .note__contentWrap iframe {
    width: 100% !important;
  }
}

@media screen and (max-width: 553px) {
  .note__contentWrap iframe {
    overflow-x: scroll;
    -ms-overflow-style: none;
    /* IE, Edge 対応 */
    scrollbar-width: none;
    /* Firefox 対応 */
  }
}

.note__contentWrap iframe ::-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  display: none;
}

#frame div {
  background-color: red;
}

.bottomSns ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 200px;
}

@media screen and (max-width: 768px) {
  .bottomSns ul {
    margin-bottom: 18.66vw;
  }
}

.bottomSns ul li {
  width: 115px;
}

@media screen and (max-width: 768px) {
  .bottomSns ul li {
    width: 10vw;
  }
}

.bottomSns ul li:nth-child(2) {
  margin: 0 120px;
}

@media screen and (max-width: 768px) {
  .bottomSns ul li:nth-child(2) {
    margin: 0 3.2vw;
  }
}

.mail {
  margin-bottom: 200px;
}

@media screen and (max-width: 768px) {
  .mail {
    margin-bottom: 16vw;
  }
}

@media screen and (max-width: 768px) {
  .mail .mainWrap {
    padding: 0 12.53vw;
  }
}

.mail__contentWrap {
  padding: 150px 183px;
  background-color: #fff;
  border: 1px solid #000;
}

@media screen and (max-width: 768px) {
  .mail__contentWrap {
    padding: 10.66vw 0 11.33vw;
  }
}

.mail__title {
  width: 117px;
  margin: 0 auto 80px;
}

@media screen and (max-width: 768px) {
  .mail__title {
    width: 16.4vw;
    margin: 0 auto 8vw;
  }
}

.mail p, .mail a {
  font-family: "游明朝体", "Yu Mincho", "yumin", YuMincho, serif;
  display: block;
  font-size: 22px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .mail p, .mail a {
    font-size: 3.93vw;
  }
}

.footer {
  background-color: #fff;
  border-top: 1px solid #000;
  padding: 50px 0 40px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 6.4vw 0 6vw;
  }
}

.footer p {
  font-family: "游明朝体", "Yu Mincho", "yumin", YuMincho, serif;
  text-align: center;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .footer p {
    font-size: 3vw;
  }
}

@media screen and (min-width: 769px) {
  .spOnly {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .pcOnly {
    display: none !important;
  }
}
/*# sourceMappingURL=style.css.map */